footer
    .footerDesktop
        .container.container-max
            .row
                .col-md-4
                    p Comunícate con nosotros
                    ul
                        li
                            a#link-footer1(href='https://www.grupobancolombia.com/personas/contactanos')
                                | Contáctanos
                        li
                            a#link-footer2(href='https://www.grupobancolombia.com/wps/portal/acerca-de/informacion-corporativa/trabaja-con-nosotros')
                                | Trabaja con nosotros
                        li
                            a#link-footer3(href='https://www.grupobancolombia.com/wps/portal/about-us') About us
                .col-md-4
                    p Accesos rápidos
                    ul
                        li
                            a#link-footer4(href='https://www.grupobancolombia.com/wps/portal/empresas/capital-inteligente/investigaciones-economicas') Investigaciones económicas
                        li
                            a#link-footer5(href='https://www.grupobancolombia.com/wps/portal/acerca-de/glosario') Glosario
                        li
                            a#link-footer6(href='https://www.grupobancolombia.com/wps/portal/acerca-de/informacion-corporativa/sostenibilidad')
                                | Sostenibilidad
                        li
                            a#link-footer7(href='https://www.grupobancolombia.com/personas/tarifario')
                                | Tarifario
                        li
                            a#link-footer8(href='https://www.grupobancolombia.com/wps/portal/acerca-de/mapa-del-sitio')
                                | Mapa del sitio
                        li
                            a#link-footer9(href='https://www.grupobancolombia.com/personas/transacciones')
                                | Transacciones
                        li
                            a#link-footer10(href='https://www.grupobancolombia.com/wps/portal/acerca-de/sala-prensa')
                                | Sala de prensa
                        li
                            a#link-footer11(href='https://www.grupobancolombia.com/wps/portal/preguntas-frecuentes')
                                | Preguntas frecuentes
                        li
                            a#link-footer15(href='https://www.grupobancolombia.com/wcm/connect/f1d340a0-a269-4e7f-abd4-8d3e6493668a/Novedades+Tarifario+Bancolombia+2019-2020+%285%29.pdf?MOD=AJPERES' title='' target='_blank')
                                | Novedades Tarifario Febrero 2020
                .col-md-4
                    p Legales
                    ul
                        li
                            a#link-footer12(href='https://www.grupobancolombia.com/personas/documentos-legales') Documentos legales
                        li
                            a#link-footer13(href='https://www.grupobancolombia.com/personas/condiciones-de-uso') Condiciones de uso
                        li
                            a#link-footer14(href='https://www.grupobancolombia.com/personas/consumidor-financiero')
                                | Consumidor financiero, requerimientos y Defensor
                        // <li><a href="https://www.grupobancolombia.com/wps/portal/empresas/productos-servicios/seguros/licitacion-seguros" id="link-footer15"> Proceso licitatorio seguros 2017 </a></li>
                        li
                            a#link-footer16(href='https://www.grupobancolombia.com/wps/portal/empresas/productos-servicios/seguros/licitacion-seguros')
                                | Proceso licitatorio seguros 2019
                    .footerRedes
                        ul.list_redes
                            li
                                a#redes-footer-facebook(href='https://www.facebook.com/bancolombia' title='' target='')
                                    i.fenix-icon-facebook
                            li
                                a#redes-footer-twitter(href='https://twitter.com/Bancolombia' title='' target='')
                                    i.fenix-icon-twitter
                            li
                                a#redes-footer-linkedin(href='https://www.linkedin.com/company/22690' title='' target='')
                                    i.fenix-icon-linkedin
                            li
                                a#redes-footer-instagram(href='https://instagram.com/bancolombia' title='' target='')
                                    i.fenix-icon-instagram
                            li
                                a#redes-footer-youtube(href='https://www.youtube.com/user/GrupoBancolombia' title='' target='')
                                    i.fenix-icon-youtube
    .accordionWrapper
        .accordionItem.open
            p.tituloAcordeon Comunícate con nosotros
            .accordionItemContent
                ul
                    li
                        a#link-footer-mobile1(href='https://www.grupobancolombia.com/personas/contactanos')
                            | Contáctanos
                    li
                        a#link-footer-mobile2(href='https://www.grupobancolombia.com/wps/portal/acerca-de/informacion-corporativa/trabaja-con-nosotros')
                            | Trabaja con nosotros
                    li
                        a#link-footer-mobile3(href='https://www.grupobancolombia.com/about-us') About us
        .accordionItem.cerrar
            p.tituloAcordeon Accesos rápidos
            .accordionItemContent
                ul
                    li
                        a#link-footer-mobile4(href='https://www.grupobancolombia.com/wps/portal/empresas/capital-inteligente/investigaciones-economicas') Investigaciones económicas
                    li
                        a#link-footer-mobile5(href='https://www.grupobancolombia.com/wps/portal/acerca-de/glosario') Glosario
                    li
                        a#link-footer-mobile6(href='https://www.grupobancolombia.com/wps/portal/acerca-de/informacion-corporativa/sostenibilidad')
                            | Sostenibilidad
                    li
                        a#link-footer-mobile7(href='https://www.grupobancolombia.com/personas/tarifario')
                            | Tarifario
                    li
                        a#link-footer-mobile8(href='https://www.grupobancolombia.com/wps/portal/acerca-de/mapa-del-sitio')
                            | Mapa del sitio
                    li
                        a#link-footer-mobile9(href='https://www.grupobancolombia.com/personas/transacciones')
                            | Transacciones
                    li
                        a#link-footer-mobile10(href='https://www.grupobancolombia.com/wps/portal/acerca-de/sala-prensa')
                            | Sala de prensa
                    li
                        a#link-footer-mobile11(href='https://www.grupobancolombia.com/wps/portal/preguntas-frecuentes')
                            | Preguntas frecuentes
                    li
                        a#link-footer-mobile12(href='https://www.grupobancolombia.com/wcm/myconnect/dev.grupobancolombia.com25230/f1d340a0-a269-4e7f-abd4-8d3e6493668a/Novedades+Tarifario+Bancolombia+2019-2020+%285%29.pdf?MOD=AJPERES&CVID=n1l3q.i&useDefaultText=0&useDefaultDesc=0' title='' target='_blank')
                            | Novedades Tarifario Febrero 2020
        .accordionItem.cerrar
            p.tituloAcordeon Legales
            .accordionItemContent
                ul
                    li
                        a#link-footer-mobile12(href='https://www.grupobancolombia.com/personas/documentos-legales') Documentos legales
                    li
                        a#link-footer-mobile13(href='https://www.grupobancolombia.com/personas/condiciones-de-uso') Condiciones de uso
                    li
                        a#link-footer-mobile14(href='https://www.grupobancolombia.com/personas/consumidor-financiero')
                            | Consumidor financiero, requerimientos y Defensor
                    li
                        a#link-footer-mobile15(href='https://www.grupobancolombia.com/wps/portal/empresas/productos-servicios/seguros/licitacion-seguros')
                            | Proceso licitatorio seguros 2019
                .footerRedes
                    ul.list_redes
                        li
                            a#redes-footer-facebook(href='https://www.facebook.com/bancolombia' title='' target='')
                                i.fenix-icon-facebook
                        li
                            a#redes-footer-twitter(href='https://twitter.com/Bancolombia' title='' target='')
                                i.fenix-icon-twitter
                        li
                            a#redes-footer-linkedin(href='https://www.linkedin.com/company/22690' title='' target='')
                                i.fenix-icon-linkedin
                        li
                            a#redes-footer-instagram(href='https://instagram.com/bancolombia' title='' target='')
                                i.fenix-icon-instagram
                        li
                            a#redes-footer-youtube(href='https://www.youtube.com/user/GrupoBancolombia' title='' target='')
                                i.fenix-icon-youtube
    .footerTerminos
        .footerCopyright
            img.imagen_banco(src='/arquivos/mob_logo_footer@2x.png' alt='')
            img.imagen_vigilado(src='/arquivos/desk_logo_vigilado.svg' alt='')
        .footerRedes
            p Copyright © 2020 Grupo Bancolombia.
            img.imagen_banco(src='/arquivos/mob_logo_footer_2@2x.png' alt='')
            img.imagen_vigilado(src='/arquivos/desk_logo_vigilado.svg' alt='')
            ul.list_redes
                li
                    a#redes-footer-facebook(href='https://www.facebook.com/bancolombia' title='' target='')
                        i.fenix-icon-facebook
                li
                    a#redes-footer-twitter(href='https://twitter.com/Bancolombia' title='' target='')
                        i.fenix-icon-twitter
                li
                    a#redes-footer-linkedin(href='https://www.linkedin.com/company/22690' title='' target='')
                        i.fenix-icon-linkedin
                li
                    a#redes-footer-instagram(href='https://instagram.com/bancolombia' title='' target='')
                        i.fenix-icon-instagram
                li
                    a#redes-footer-youtube(href='https://www.youtube.com/user/GrupoBancolombia' title='' target='')
                        i.fenix-icon-youtube
