.header-top.bg-gray.color-white
    .container.container-max
        nav.header-top_nav
            ul.header-top_menu
                li.header-top_item
                    a.header-top_link.active(href='https://www.grupobancolombia.com/personas/') PERSONAS
                // /header-top_item
                li.header-top_item
                    a.header-top_link(href='https://www.grupobancolombia.com/wps/portal/negocios-pymes/') PYMES
                // /header-top_item
                li.header-top_item
                    a.header-top_link(href='https://www.grupobancolombia.com/wps/portal/empresas/') EMPRESAS
                // /header-top_item
                li.header-top_item
                    a.header-top_link(href='https://www.grupobancolombia.com/wps/portal/acerca-de/') ACERCA DE NOSOTROS
                // /header-top_item
                li.header-top_item.has-submenu.active
                    a.header-top_link(href='#') NEGOCIOS ESPECIALIZADOS
                    .header-top_submenu.bg-white.color-default
                        .container
                            .row
                                .col-md-4
                                    h3.submenu-title Negocios en Colombia
                                    ul.submenu-cont
                                        li.submenu-cont_item
                                            a#header-negocios-banca.submenu-cont_link(href='http://bancainversion.grupobancolombia.com/?_ga=2.212326292.1412785782.1583157612-1885983105.1578946816&_gac=1.82930020.1580071744.CjwKCAiAjrXxBRAPEiwAiM3DQp_rvxFx2H6h_Qru2_T7LodJSC9wKexPV6ngX1J-iq17XWDdN7ntARoCrcgQAvD_BwE') Banca de Inversión Bancolombia
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-negocios-fiduciaria.submenu-cont_link(href='https://fiduciaria.grupobancolombia.com') Fiduciaria Bancolombia
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-negocios-leasing.submenu-cont_link(href='http://leasing.grupobancolombia.com') Leasing Bancolombia
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-negocios-renting.submenu-cont_link(href='http://renting.grupobancolombia.com') Renting Colombia
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-negocios-valores.submenu-cont_link(href='http://valores.grupobancolombia.com') Valores Bancolombia
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-negocios-factoring.submenu-cont_link(href='http://factoring.grupobancolombia.com') Factoring Bancolombia
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-negocios-asset.submenu-cont_link(href='http://assetmanagement.grupobancolombia.com') Asset Management
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-negocios-comercio.submenu-cont_link(href='http://comerciointernacional.grupobancolombia.com') Comercio Internacional
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-negocios-sufi.submenu-cont_link(href='http://sufi.grupobancolombia.com') Sufi
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-negocios-tuya.submenu-cont_link(href='http://www.tuya.com.co') Tuya
                                        // /submenu-cont_item
                                        // /submenu-cont
                                        // /col
                                .col-md-4
                                    h3.submenu-title Entidades en el exterior
                                    ul.submenu-cont
                                        li.submenu-cont_item
                                            a#header-entidades-valores.submenu-cont_link(href='http://valoresbanistmo.grupobancolombia.com') Valores Banistmo
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-entidades-sucursal.submenu-cont_link(href='http://sucursalpanama.grupobancolombia.com') Sucursal Panamá
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-entidades-panama.submenu-cont_link(href='http://panama.grupobancolombia.com') Bancolombia Panamá
                                        // /submenu-cont_item
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-entidades-cayman.submenu-cont_link(href='http://cayman.grupobancolombia.com') Bancolombia Cayman
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-entidades-puerto-rico.submenu-cont_link(href='http://puertorico.grupobancolombia.com') Bancolombia Puerto Rico
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-entidades-banisto.submenu-cont_link(href='https://www.banistmo.com/wps/portal/banistmo/personas') Banistmo
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-entidades-agricola.submenu-cont_link(href='http://www.bancoagricola.com') Banco Agrícola
                                        // /submenu-cont_item
                                        li.submenu-cont_item
                                            a#header-entidades-agromercantil.submenu-cont_link(href='http://www.bam.com.gt') BAM (Banco Agromercantil de Guatemala)
                                        // /submenu-cont_item
                                        // /submenu-cont
                                        // /col
                                        // /container
                                        // /header-top_submenu
                                        // /header-top_item
            ul.header-top_menu
                li.header-top_item
                    a.header-top_link.icon.icon_ayuda(href='https://www.grupobancolombia.com/wps/portal/preguntas-frecuentes')
                        span Ayuda
                // /header-top_item
                li.header-top_item
                    a.header-top_link.icon.icon_puntos(href='https://www.grupobancolombia.com/personas/buscador-sucursales')
                        span Puntos de atención
                // /header-top_item
                li.header-top_item
                    a.header-top_link.icon.icon_documentos(href='https://www.grupobancolombia.com/personas/necesidades/documentos')
                        span Solicita Documentos
    // /container
// /header-top
//.container.container-max
    .header-main_cont
        figure.header-main_logo(itemscope='' itemtype='http://schema.org/brand')
            a(href='https://www.grupobancolombia.com/personas/')
                img(itemprop='logo' src='/arquivos/bc-logo.png' alt='Bienvenidos a grupobancolombia sección personas')
    div
        button#mobile-button.mobile-button(aria-label='Menu')
            span.mobile-navigation_bar(aria-hidden='true')
     - /row
// /container
#mobile-navigation.mobile-navigation
    .mobile-navigation_cont
        .mobile-navigation_logo
            figure(itemscope='' itemtype='http://schema.org/brand')
                a(href='https://www.grupobancolombia.com/personas/')
                    img(src='/arquivos/bc-logo.png' alt='Bienvenidos a grupobancolombia sección personas' itemprop='logo')
            // /Figure
            button#button-close.button-close(aria-label='Cerrar')
                span(aria-hidden='true')
                span(aria-hidden='true')
        .mobile-navigation_pane.color-default
            nav.mobile-navigation_nav
                ul.mobile-navigation_menu
                    li
                        a.mobile-navigation_link(href='https://www.grupobancolombia.com/personas') Personas
                    // /mobile-navigation_menu
                    li
                        a.mobile-navigation_link(href='https://www.grupobancolombia.com/wps/portal/negocios-pymes/') Pymes
                    // /li
                    li
                        a.mobile-navigation_link(href='https://www.grupobancolombia.com/wps/portal/empresas') Empresas
                    // /li
                    li
                        a.mobile-navigation_link(href='https://www.grupobancolombia.com/wps/portal/acerca-de') Acerca de Nosotros
                    // /li
                    li
                        a.mobile-navigation_link(href='#') Negocios Especializados
                        ul.mobile-submenu.submenu-accordion
                            // /moile-submenu_item
                            li
                                a(href='https://bancainversion.grupobancolombia.com' title='' target='') Banca de Inversión Bancolombia
                            // /moile-submenu_item
                            li
                                a(href='https://fiduciaria.grupobancolombia.com' title='' target='') Fiduciaría Bancolombia
                            // /moile-submenu_item
                            li
                                a(href='https://leasing.grupobancolombia.com' title='' target='') Leasing Bancolombia
                            // /moile-submenu_item
                            li
                                a(href='https://renting.grupobancolombia.com' title='' target='') Renting Colombia
                            // /moile-submenu_item
                            li
                                a(href='https://valores.grupobancolombia.com' title='' target='') Valores Bancolombia
                            // /moile-submenu_item
                            li
                                a(href='https://factoring.grupobancolombia.com' title='' target='') Factoring Bancolombia
                            // /moile-submenu_item
                            li
                                a(href='https://assetmanagement.grupobancolombia.com' title='' target='') Bancolombia Asset Management
                            // /moile-submenu_item
                            li
                                a(href='https://comerciointernacional.grupobancolombia.com' title='' target='') Comercio Internacional
                            // /moile-submenu_item
                            li
                                a(href='https://sufi.grupobancolombia.com' title='' target='') Sufi
                            // /moile-submenu_item
                            li
                                a(href='http://www.tuya.com.co' title='' target='') Tuya
                            // /moile-submenu_item
                            li
                                a(href='https://valoresbanistmo.grupobancolombia.com' title='' target='') Valores Banistmo
                            // /moile-submenu_item
                            li
                                a(href='https://sucursalpanama.grupobancolombia.com' title='' target='') Sucursal Panamá
                            // /moile-submenu_item
                            li
                                a(href='https://panama.grupobancolombia.com' title='' target='') Bancolombia Panamá
                            // /moile-submenu_item
                            li
                                a(href='https://cayman.grupobancolombia.com/' title='' target='') Bancolombia Cayman
                            // /moile-submenu_item
                            li
                                a(href='https://puertorico.grupobancolombia.com' title='' target='') Bancolombia Puerto Rico
                            // /moile-submenu_item
                            li
                                a(href='http://www.banistmo.com' title='' target='') Banistmo
                            // /moile-submenu_item
                            li
                                a(href='http://www.bancoagricola.com' title='' target='') Banco Agrícola
                            // /moile-submenu_item
                            li
                                a(href='http://www.bam.com.gt' title='' target='') BAM (Banco Agromercantil de Guatemala)
                            // /mobile-submenu_item
            .redesHeader
                ul.list_redes
                    li
                        a(href='https://www.facebook.com/bancolombia' title='' target='')
                            i.fab.fa-facebook-square  
                    li
                        a(href='https://twitter.com/Bancolombia' title='' target='')
                            i.fab.fa-twitter
                    li
                        a(href='https://www.linkedin.com/company/22690' title='' target='')
                            i.fab.fa-linkedin
                    li
                        a(href='https://instagram.com/bancolombia/' title='' target='')
                            i.fab.fa-instagram
                    li
                        a(href='https://www.youtube.com/user/GrupoBancolombia' title='' target='')
                            i.fab.fa-youtube
    // /mobile-navigation_cont
