.bc-stepper-three
    .content-stepper
        div.timeline
        .content-stepper__step-one.step.confirmed
            div.point
            .stepName Lugar y Fecha
            .stepNameMobile Paso 1
        .content-stepper__step-two.step.active
            div.point
            .stepName  Datos de contacto
            .stepNameMobile Paso 2
        .content-stepper__step-three.step.default
            div.point
            .stepName Confirmación
            .stepNameMobile Paso 3
        
