.secondBanner
	.secondBanner__card__info
		p.card__up-text-tip
			| TU360MOVILIDAD
		h3.secondBanner__title
			| ¡Podemos
			br 
			| ayudarte a elegir!
		p.secondBanner__parragraph
			| Con unas cuantas preguntas te ayudamos a encontrar el carro que se ajusta a tus necesidades
		.container_btn
			button.btn_expand
				i.fenix-icon-arrow-right
			a.btn_link
				span Conocer más
				i.fenix-icon-external-link
	.secondBanner__card__image
		img(src="../arquivos/new-foto-carros.png", alt="Foto de vehiculo")

.card__wrap
	.card__edu.card__edu_1
		.card__up-part
			.card__up-text
				p.card__up-text-tip
					| EDUCACIÓN FINANCIERA
				h4.card__up-title
					| Conoce cómo adquirir el vehículo que quieres a través del ahorro programado.
				p.card__up__description
					|	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis commodo, non dapibus dui.
				.container_btn
					button.btn_expand
						i.fenix-icon-arrow-right
					a.btn_link
						span Ampliar respuesta
						i.fenix-icon-external-link

	.card__edu.card__edu_2
		.card__up-part
			.card__up-text
				p.card__up-text-tip
					| EDUCACIÓN FINANCIERA
				h4.card__up-title
					| Ahorro programado para adquirir vehículo que quieres.
				p.card__up__description
					|	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis commodo, non dapibus dui.
				.container_btn
					button.btn_expand
						i.fenix-icon-arrow-right
					a.btn_link
						span Ampliar respuesta
						i.fenix-icon-external-link